<div style="position: fixed;left: 0;right:0;top: 0;bottom: 0;background-color: rgba(0,0,0,0.5);"></div>
<ion-modal-view class="modal modal-full-screen" style="background-color: transparent;">
    <style>
        .passwordKeyBord-body {
            position: absolute;
            width: 100%;
            bottom: 0;
            background-color: #ffffff;
        }

        .passwordKeyBord-body .password-unit {
            padding: 5vw;
        }

        .password-unit .password-unit-item {
            height: 13vw;
            text-align: center;
        }

        .password-unit-item .password-unit-point {
            font-size: 4vw;
            line-height: 4vw;
            color: #eee;
        }

        .password-unit-point.actived {
            color: #080808;
        }

        .passwordKeyBord-body .password-Key-item {
            height: 15vw;
            text-align: center;
        }

        .password-Key-item .password-Key {
            font-size: 7.5vw;
            line-height: 7.5vw;
        }

        .passwordDeleteKeyBord {
            color: #eee;
        }
    </style>

    <div class="passwordKeyBord-body">

        <div class="bar" style="position: relative;height: 44px;">
            <a class="button button-clear button-dark" ng-click="__closePasswordModal()">
                &nbsp;&nbsp;<i class="icon ion-ios-close-empty"></i>&nbsp;&nbsp;
            </a>

            <h1 class="title" style="top:0 !important;">输入交易密码</h1>
        </div>

        <div class="list list-borderless" style="margin-bottom: 0px;">
            <div class="row row-center row-no-padding password-unit" align="center">
                <div class="col col-center">
                    <div class="item password-unit-item">
                        <div class="row row-center row-no-padding" style="height: 100%;">
                            <div class="col col-center">
                                <span class="password-unit-point" ng-class="{'actived':__passwordUnitCount>0}">
                                    <i class="icon ion-record"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col col-center">
                    <div class="item password-unit-item">
                        <div class="row row-center row-no-padding" style="height: 100%;">
                            <div class="col col-center">
                                <span class="password-unit-point" ng-class="{'actived':__passwordUnitCount>1}">
                                    <i class="icon ion-record"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col col-center">
                    <div class="item password-unit-item">
                        <div class="row row-center row-no-padding" style="height: 100%;">
                            <div class="col col-center">
                                <span class="password-unit-point" ng-class="{'actived':__passwordUnitCount>2}">
                                    <i class="icon ion-record"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col col-center">
                    <div class="item password-unit-item">
                        <div class="row row-center row-no-padding" style="height: 100%;">
                            <div class="col col-center">
                                <span class="password-unit-point" ng-class="{'actived':__passwordUnitCount>3}">
                                    <i class="icon ion-record"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col col-center">
                    <div class="item password-unit-item">
                        <div class="row row-center row-no-padding" style="height: 100%;">
                            <div class="col col-center">
                                <span class="password-unit-point" ng-class="{'actived':__passwordUnitCount>4}">
                                    <i class="icon ion-record"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col col-center">
                    <div class="item password-unit-item">
                        <div class="row row-center row-no-padding" style="height: 100%;">
                            <div class="col col-center">
                                <span class="password-unit-point" ng-class="{'actived':__passwordUnitCount>5}">
                                    <i class="icon ion-record"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>


        <div class="list">
            <div class="row  row-center row-no-padding">
                <div class="col">
                    <a class="item password-Key-item" ng-click="__inputPassword(1);">
                        <div class="row row-center row-no-padding" style="height: 100%;">
                            <div class="col col-center">
                                <span class="password-Key">1</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col">
                    <a class="item password-Key-item" ng-click="__inputPassword(2);">
                        <div class="row row-center row-no-padding" style="height: 100%;">
                            <div class="col col-center">
                                <span class="password-Key">2</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col">
                    <a class="item password-Key-item" ng-click="__inputPassword(3);">
                        <div class="row row-center row-no-padding" style="height: 100%;">
                            <div class="col col-center">
                                <span class="password-Key">3</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row  row-center row-no-padding">
                <div class="col">
                    <a class="item password-Key-item" ng-click="__inputPassword(4);">
                        <div class="row row-center row-no-padding" style="height: 100%;">
                            <div class="col col-center">
                                <span class="password-Key">4</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col">
                    <a class="item password-Key-item" ng-click="__inputPassword(5);">
                        <div class="row row-center row-no-padding" style="height: 100%;">
                            <div class="col col-center">
                                <span class="password-Key">5</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col">
                    <a class="item password-Key-item" ng-click="__inputPassword(6);">
                        <div class="row row-center row-no-padding" style="height: 100%;">
                            <div class="col col-center">
                                <span class="password-Key">6</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row  row-center row-no-padding">
                <div class="col col-center">
                    <a class="item password-Key-item" ng-click="__inputPassword(7);">
                        <div class="row row-center row-no-padding" style="height: 100%;">
                            <div class="col col-center">
                                <span class="password-Key">7</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col col-center">
                    <a class="item password-Key-item" ng-click="__inputPassword(8);">
                        <div class="row row-center row-no-padding" style="height: 100%;">
                            <div class="col col-center">
                                <span class="password-Key">8</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col col-center">
                    <a class="item password-Key-item" ng-click="__inputPassword(9);">
                        <div class="row row-center row-no-padding" style="height: 100%;">
                            <div class="col col-center">
                                <span class="password-Key">9</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="row  row-center row-no-padding">
                <div class="col col-center">
                    <a class="item password-Key-item">
                        <div class="row row-center row-no-padding" style="height: 100%;">
                            <div class="col col-center">
                                <span class="password-Key"></span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col col-center">
                    <a class="item password-Key-item" ng-click="__inputPassword(0);">
                        <div class="row row-center row-no-padding" style="height: 100%;">
                            <div class="col col-center">
                                <span class="password-Key">0</span>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col col-center">
                    <a class="item password-Key-item" ng-click="__deletePassword();">
                        <div class="row row-center row-no-padding" style="height: 100%;">
                            <div class="col col-center">
                                <span class="password-Key passwordDeleteKeyBord"
                                      ng-class="{'passwordDeleteKeyBord':__passwordUnitCount<=0}">
                                    <i class="icon ion-backspace-outline"></i>
                                </span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>


    </div>
</ion-modal-view>